/* header, burgerbar, fonts */
.font{

  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bg{
  background-color: rgb(223, 245, 223);
}
.mainheader{
    display: flex;
    justify-content: flex-start;
    padding: 28px;
}
.childheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
    margin-left: 80px;
}
.mainul{
    gap: 20px;
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-right: 445px;
    font-size: 20px
}
.mainnav {
    display: block;
}
.burgerbarmain{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 25%;
    position: relative;
    display: none;
}
.line{
    background-color: black;
    border-radius: 50%;
    height: 2px;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.line1{
    top: 30%;
}
.line3{
    top: 70%;
}
.mainnav {
    display: block;
}


/* sections */
.teqsti{
    margin-top: 49px;
    margin-bottom: 8px;
    text-align: center;
    margin: 0 auto;
    color: #09B451;
}
h1{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}
.teqsti2{
    margin-top: 49px;
    margin-bottom: 8px;
    text-align: start;
    padding-left: 15px;

    color: #09B451;
}
.teqsti3{

    margin-bottom: 25px;
    padding-right: 25px;
    text-align: end; 
    margin: 0 auto;
    color: #09B451;

}
.cate{
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;
}
.mainmain{
    max-width: 1280px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    gap: 30px 30px;
}
.mainmain2{
    max-width: 1500px;
    width: 80%;
    margin-left: 50px;
    display: flex;

}
.mainmain3{
    max-width: 1280px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    gap: 30px 30px;
}
.childmain{
    text-align: center;
    font-size: 20px;
    max-width: 300px;
    width: 100%;
    height: 456px;
    transition: all 0.5s ease-in-out 0.1s;
}
.childmain2{
    text-align: center;
    font-size: 20px;
    max-width: 300px;
    width: 100%;
    height: 276px;
    transition: all 0.5s ease-in-out 0.1s;
}
.childmain3{
    text-align: center;
    font-size: 20px;
    max-width: 300px;
    width: 100%;
    height: 256px;
    transition: all 0.5s ease-in-out 0.1s;
}
img{
    width: 100%;
}
.image {
    width: 100%;
}

.sec2{
    margin-top: 50px;
}

/* responsive */
@media (max-width: 1024px) {

         .mainnav {
        display: none;
        position: absolute;
        top: 100px;
        right: 30px;
        background-color: white;
        padding: 15px;
        border-radius: 10px;
    }
       .mainnav.active {
        display: block;
    }
        .mainul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: auto;
        margin-right: 0;
        font-size: 18px;
    }
        .burgerbarmain {
        display: block;
        cursor: pointer;
    }
    .mainheader{
      display: flex;
      justify-content: right;
    }





    .mainmain{
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .mainmain2 {
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .mainmain3{
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .mainmain4{
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .resptxt{
      padding-right: 400px;
    }
    .resptxt2{
      padding-left: 500px;
    }
  }
@media (max-width: 768px) {

         .mainnav {
        display: none;
        position: absolute;
        top: 100px;
        right: 30px;
        background-color: white;
        padding: 15px;
        border-radius: 10px;
    }
       .mainnav.active {
        display: block;
    }
        .mainul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: auto;
        margin-right: 0;
        font-size: 18px;
    }
        .burgerbarmain {
        display: block;
        cursor: pointer;
    }
    .mainheader{
      display: flex;
      justify-content: right;
    }


    .mainnav {
      display: none;
    }
    .burgerbarmain {
      display: block;
    }
    .mainmain{
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .mainmain2 {
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .mainmain3{
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .mainmain4{
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .resptxt{
      padding-right: 200px;
    }
    .resptxt2{
      padding-left: 300px;
    }
  }
@media (max-width: 480px) {

         .mainnav {
        display: none;
        position: absolute;
        top: 100px;
        right: 30px;
        background-color: white;
        padding: 15px;
        border-radius: 10px;
    }
       .mainnav.active {
        display: block;
    }
        .mainul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: auto;
        margin-right: 0;
        font-size: 18px;
    }
        .burgerbarmain {
        display: block;
        cursor: pointer;
    }
    .mainheader{
      display: flex;
      justify-content: right;
    }


    .mainnav {
      display: none;
    }
    .burgerbarmain {
      display: block;
    }
    .mainmain{
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .mainmain2 {
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .mainmain3{
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .mainmain4{
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .resptxt{
      padding-right: 90px;
    }
    .resptxt2{
      padding-left: 190px;
    }
  }
@media (max-width: 320px) {
         .mainnav {
        display: none;
        position: absolute;
        top: 100px;
        right: 30px;
        background-color: white;
        padding: 15px;
        border-radius: 10px;
    }
       .mainnav.active {
        display: block;
    }
        .mainul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: auto;
        margin-right: 0;
        font-size: 18px;
    }
        .burgerbarmain {
        display: block;
        cursor: pointer;
    }
    .mainheader{
      display: flex;
      justify-content: right;
    }


    .mainnav {
      display: none;
    }
    .burgerbarmain {
      display: block;
    }
    .mainmain{
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .mainmain2 {
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .mainmain3{
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
    .mainmain4{
      flex-direction: column;
      align-items: center;
      row-gap: 70px;
    }
  }

/* hover */
.childmain:hover{
    transform: scale(0.9);
    z-index: 2;
}
.childmain2:hover{
    transform: scale(0.9);
    z-index: 2;
}
.childmain3:hover{
    transform: scale(0.9);
    z-index: 2;
}

/* სერვერიდან ინფორმაცია - (get methods) */

  #api ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1000px;
  }

  #api li {
    max-width: 300px;
    width: 100%;
    text-align: center;
  }

  #api img {
    border-radius: 12px;
    margin-top: 25px;
  }

  #api p {
    color: green;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 50px;
  }

/* form */

form {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  margin: auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 10px 5px;
}

label {
  font-size: 14px;
  margin-right: 10px;
}

button {
  margin-top: 15px;
  width: 100%;
  background-color: #2d9f44;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #218739;
}

.error-text {
  color: red;
  font-size: 12px;
  margin: 4px 0;
}

p#email-error {
  color: red;
  font-size: 12px;
}
.ffm{
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
    color: #09B451;
  margin-bottom: 20px;
  text-align: center;

}

/* cookie */
.cookie-banner {
  max-width: 500px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding: 15px;
  background-color: #222;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  z-index: 9999;
}

.cookie-banner button {
  max-width: 200px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 14px;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cookie-banner button:hover {
  background-color: #45a049;
}

/* scroll to top */
#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}